// SITE POSITIONING
$center: 0 auto;

// NAV/CONTENT WIDTH
$nav-width: 980px;
$banner-footer-width: 1280px;
$banner-height: 500px;
$footer-height: 100px;
$home-form-width: 818px;
$footer-height: 100px;
$content-border: 2px solid #79addc;

// THIS IS SITE COLORS
$site-blue: #79addc;
$site-white: white;
$site-black: black;

// THIS IS FOR BUTTONS
$button-color: #79addc;
$button-width: 813px;
$button-height: 60px;
